{% extends "base_bootstrap.html" %}

{% block navbar %}
{% load app_tags %}
<section class="colored-section">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark">

      <a class="navbar-brand" href="/">{{ settings.APP_NAME }}</a>
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- https://stackoverflow.com/questions/22047251/django-dynamically-get-view-url-and-check-if-its-the-current-page -->
      <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav mr-auto">
  
          {% url 'ads' as ads %}
          <li class="nav-item" {% if request.get_full_path == ads %}class="active"{% endif %}>
            <a class="nav-link" href="{% url 'ads:all' %}">Ads</a>
          </li>
    
          {% url 'cats' as cats %}
          <li class="nav-item" {% if request.get_full_path == cats %}class="active"{% endif %}>
            <a class="nav-link" href="{% url 'cats:all' %}">Cats CRUD</a>
          </li>
    
          {% url 'autos' as autos %}
          <li class="nav-item" {% if request.get_full_path == autos %}class="active"{% endif %}>
            <a class="nav-link" href="{% url 'autos:all' %}">Autos CRUD</a>
          </li>
    
          {% url 'polls' as polls %}
          <li class="nav-item" {% if request.get_full_path == polls %}class="active"{% endif %}>
            <a class="nav-link" href="{% url 'polls:index' %}">Polls</a>
          </li>
    
          {% url 'bank' as bank %}
          <li class="nav-item" {% if request.get_full_path == bank %}class="active"{% endif %}>
            <a class="nav-link" href="{% url 'bank:all' %}">Bank inventory</a>
          </li>
    
          {% url 'admin' as admin %}
          <li class="nav-item" {% if request.get_full_path == admin %}class="active"{% endif %}>
            <a class="nav-link" href="admin/">Admin site</a>
          </li>
    
        </ul>
  
        <ul class="navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li class="dropdown nav-item">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                  <img style="width: 25px;" src="{{ user|gravatar:60 }}"/><b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}?next={% url 'home:all' %}">Logout</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'cats:all' %}">Cats CRUD</a>
                  </li>
              </ul>
          </li>
          {% else %}
          <li>
          <a href="{% url 'login' %}?next={% url 'home:all' %}">Login</a>
          </li>
          {% endif %}
      </ul>
      </div>
      
    
  
  </nav>
  </div>
  
</section>

{% endblock %}