{% extends "base_menu.html" %} 
{% block content %}
{% load static %}
<html>
  <head>
    <title>{{ settings.APP_NAME }}</title>
  </head>

  <body>
    <div class="home">
      <section id="title" class="colored-section">
        <div class="container-fluid">
          <div class="row">
  
            <div class="col-lg-6">
              <h1 class="big-heading">Welcome to Dumebi's test site!</h1>
              <p>Below are links to different applications being worked on. Cheers!</p>
            </div>
      
            <div class="col-lg-6">
              <img class="title-image" src="{% static "home/SVG/llama.svg" %}">
            </div>
      
          </div>
        </div>
        
      </section>
      
  
      <div class="container-fluid white-section">
  
        <h3 class="section-heading">A polls Application.</h3>
        <div class="row">
          <div class="col-lg-12">
            <p>
              This is a simple application that lets you create polls. You can access
              it <a href="{% url 'polls:index' %}">here</a>
            </p>
          </div>
          <div class="col-lg-12">
            <img class="section-image" src="{% static "home/SVG/polls.svg" %}">
          </div>
        </div>
        
      </div>
  
      <div class="container-fluid colored-section">
        
        <h3 class="section-heading">Autos CRUD</h3>
        <p>
          This is a test of basic database systems ie. create, read, update,
          delete. You can access it <a href="{% url 'autos:all' %}">here</a>
        </p>
        <img class="section-image" src="{% static "home/SVG/car.svg" %}">
  
      </div>
  
      <div class="container-fluid white-section">
        <h3 class="section-heading">Cats CRUD</h3>
        <p>
          This is also a test of basic database systems similar to the
          <a href="{% url 'autos:all' %}">Autos Crud</a>. You can access it
          <a href="{% url 'cats:all' %}">here</a>
        </p>
        <img class="section-image" src="{% static "home/SVG/cat.svg" %}">
      </div>
  
      <div class="container-fluid colored-section">
        <h3 class="section-heading">An Ad Management System</h3>
        <p>
          This is an application designed to manage Ads, select your favorite ads
          etc. Find out more <a href="{% url 'ads:all' %}">here</a>
        </p>
        <img class="section-image" src="{% static "home/SVG/ads.svg" %}">
      </div>
  
      <div class="container-fluid white-section">
        <h3 class="section-heading">Bank Inventory Software</h3>
        <p>
          Interested? Find out <a href="{% url 'bank:all' %}">more</a> about it
          now!
        </p>
        <img class="section-image" src="{% static "home/SVG/bank.svg" %}">
      </div>
  
    </div>
    
  </body>
</html>
{% endblock %}
