{% extends "base_menu.html" %}
{% block content %}
<html>
    <head>
        <title>{{ settings.APP_NAME }}</title>
    </head>
    <body>
        <h1>Welcome to Dumebi's test site</h1>
        <p>Below are links to different applications being worked on. Cheers!</p>
        <ul>
            <li><a href="/polls">A polls application</a></li>
            <li><a href="/autos">Autos CRUD</a></li>
            <li><a href="/cats">Cats CRUD</a></li>
            <li><a href="/ads">Ads application</a></li>
            <li><a href="/bank">Bank inventory</a></li>
        </ul>
    </body>
</html>
{% endblock %}