<html>
<head>
<title> Polls index </title>
</head>
<body>
<h1 style="text-align: center; color: blue;"> There are {{ latest_question_list.count}} polls available</h1>
<p>
{% if latest_question_list %}
    <ul style="border-style: solid; border-color: black; border-width: 5px;">
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</p>
</body>
