{% extends "base_menu.html" %}
{% block content %}
{% load template_filters %}
<style>
  #horizontal_div {
    display: inline;
  }

  #horizontal_list {
    height: 120px;
    overflow: hidden;
    overflow-y: scroll;
  }

  #horizontal_list button {
    position: absolute;
  }

  #horizontal_list li {
    display: inline-block;
    justify-content: space-around;
    padding: inherit;
    border: inherit;
    margin-top: 0.5em;
    margin-bottom: 2em;
  }
</style>
<div style="float:right">
  <!-- https://www.w3schools.com/howto/howto_css_search_button.asp -->
  <form>
    <input type="text" placeholder="Search for an item.." name="search" {% if search %} value="{{ search }}" {% endif %}>
    <button type="submit"><i class="fa fa-search"></i></button>
    <a href="{% url 'bank:item_list' %}"><i class="fa fa-undo"></i></a>
  </form>
</div>
<h1>Item List</h1>
<p>click on a category to view the items available under each category.</p>
<p>
  {% if item_list %}
  {% for dict in item_dict %}
<div id="horizontal_div">
  <ul id="horizontal_list">
    <button type="button" onclick="ListDrop({{ item_dict|lookup:dict }});"> {{ dict }} <i id="ldrop_{{ item_dict|lookup:dict }}" class="fa fa-angle-up"></i></button><br>
    {% for item in item_list %}
    {% if dict == item.category.name %}
    <li class="list_{{item_dict|lookup:dict}}">
      <a href="{% url 'bank:item_detail' item.id %}">{{item.name}}</a> <small>{{ item.natural_updated }}</small><br>
      <small>(<a href="{% url 'bank:item_update' item.id %}">update item details</a>)
        <br>(<a href="{% url 'bank:item_delete' item.id %}">delete item</a>)</small>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
{% endfor %}
{% else %}
<p>There are no items available.</p>
{% endif %}
</p>
<br>
<a href="{% url 'bank:item_create' %}">Add a non-existing item to the store</a> 
<br>
<p><a href="{% url 'bank:all' %}">Back to home</a></p>
<p>
  {% if user.is_authenticated %}
  <a href="{% url 'logout' %}?next={% url 'home:all' %}">Logout</a>
  {% else %}
  <a href="{% url 'login' %}?next={% url 'bank:all' %}">Login</a>
  {% endif %}
</p>
<script>
  function ListDrop(category_id) {
    $('.list_' + category_id).toggle();
    $('#ldrop_' + category_id).toggleClass(' fa fa-angle-down fa fa-angle-up');
  }
</script>
{% endblock %}
